@use "../../../../public/assets/_var.scss"as *;
.file_upload{
    label {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 0.4rem;
      }
      
}