$white: white;
$black: black;
$red: #DB1B1B;
$green: green;
$blue: blue;
$yellow: yellow;
$orange: orange;
$grey: grey;
$clr171D2D: #171D2D;
$clr677290:#677290;
$clr202737:#202737;


//font

$primaryfont:  "rubik", sans-serif;
$secondaryfont:    "rajdhani", sans-serif ;