@use "../../../../public/assets/_var.scss" as *;

.personal_info {
  width: 100%;
  .big_heading
  {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }

  &_in {
    color: $white;

    form {
      max-width: 80rem;
      width: 100%;
      .row{
        margin: -1rem;
        >div{
          padding: 1rem;
        }
      }
      .field_in {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

     

      .forget_pass {
        padding: 0.4rem 0rem 2rem 0rem;
        margin-top: -1.4rem;
        text-align: right;

        a {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2rem;
          color: $red;
        }
      }
      .action
      {
        padding: 2rem 0rem;
        text-align: right;
        button{
          width: 20rem;
        }
      }
    }
  }

}
