@use "../../../../public/assets/_var.scss" as *;

.footer {
    padding: 9rem 0rem 0rem 0rem;
    margin-top: auto;

    &_in {
        .logo_box {
            max-width: 40rem;
            width: 100%;

            img {
                max-width: 21.8rem;
                width: 100%;
                min-height: 5.8rem;
            }

            p {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2rem;
                margin-top: 1.9rem;

            }

            .box_input {
                margin-top: 4rem;
                border-bottom: 0.1rem solid rgba($white, 0.6);

                input {
                    background: transparent;
                    border: none;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: $white;
                    padding: 1rem 3rem;
                }

                .input_btn {
                    padding: 2rem 0rem;
                    min-height: 3rem;
                    background: transparent;
                    border: none;
                    color: $white;
                    svg{
                        width: 1.8rem;
                        height: 1.3rem;
                    }

                }
            }
        }

        .list_box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .inner_box {
                width: calc(100% / 2);

                h3 {
                    font-size: 2.4rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    line-height: 2.8rem;
                    text-transform: uppercase;
                    font-family: "Rajdhani", sans-serif;
                    
                }

                ul {
                    li {
                        &:not(:last-child){
                            margin-bottom: 2.2rem;

                        }
                        a {
                            font-size: 1.8rem;
                            line-height: 2.5rem;
                            font-weight: 400;
                            svg{
                                width: 4rem;
                                height: 4rem;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8rem;
        padding: 1rem 0rem;
        border-top: 0.1rem solid rgba($white, 0.14);
        min-height: 12.1rem;

        p {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }

        .icon_box {
            svg {
                width: 4rem;
                height: 4rem;

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
}