@use "../../../../public/assets/_var.scss" as *;

.common_table {
  width: 100%;
  overflow-x: auto;
  border-radius: 1.2rem;
  appearance: none;
  border: 0.1rem solid $red;

  table {
    width: 100%;
    font-size: 0.875rem;

    thead {
      color: $white;

      th {
        background: $red;
        padding: 1rem 1.5rem;
        text-align: left;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 500;
        color: $white;
        text-transform: capitalize;
        border: none;

        &:first-child {
          border-top-left-radius: 1.2rem;
        }

        &:last-child {
          border-top-right-radius: 1.2rem;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        transition: background-color 0.2s;
        padding: 1rem 1.5rem;
        text-align: left;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        color: $white;

        &:not(:last-child) {
          border-bottom: 1px solid $red;
        }

        td {
          padding: 1rem 1.5rem;
          white-space: nowrap;
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 400;
          color: $white;
          background-color: transparent;
          text-transform: capitalize;

          &.in progress {
            color: $yellow;
          }

          &.todo {
            color: $blue;
          }

          &.cancelled {
            color: $red;
          }
        }
      }
    }
  }
}