@use "../../../../public/assets/_var.scss"as *;
.video_page{
  width: 100%;
 height: 65rem;
  background-image: url("../../../../public/assets/videoBg.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0rem;

}