@use "../../../../public/assets/_var.scss" as *;

.more_About_Us {
  height: 100%;
  min-height: 65rem;
  background-image: url("../../../../public/assets/aboutusBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;

  .container {
    max-width: 161.1rem;
    width: 100%;
    padding-inline: 1.5rem;
  }

  .row {
    align-items: center;

  }

  &_in {
    .more_About_Us_left {

      img {
        max-width: 82.1rem;
        width: 100%;

      }

    }

    .more_About_Us_right {
      max-width: 62rem;
      width: 100%;
.tabs_box
{
  padding: 3rem 0rem 2rem 0rem;
  .nav {

    display: flex;
    align-items: center;
    .nav-item{
      a{
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        color: $white;
        &.active{
          background: $red;
        }
      }

    }
  }
}
      h2 {
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 5.5rem;
        margin-bottom: 1.9rem;
        font-family: "rajdhani", sans-serif !important;
        text-transform: uppercase;

        span {
          color: $red;
        }
      }

      p {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
      }

    }


  }
}