@use "../../../../public/assets/_var.scss" as *;

.custom_arrow_btn {
  border: .1rem solid $red;
  color: $white;
  background: $red;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 0 3rem;
  border-radius: 3rem;
  min-height: 5rem;
  width: max-content;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 0;
  @media (max-width:767px) {
    min-height: 4rem;
    padding: 0rem 1.5rem;
    font-size: 1.5rem;
}
@media (max-width:575px) {
    min-height: 3.5rem;
    font-size: 1.3rem;

}

  &:hover {
    border: .1rem solid $red;
    color: $white;
    background: transparent;
  }

  &.border_arro_btn {
    border: .1rem solid $red;
    color: $white;
    background: transparent;

    &:hover {
      color: $white;
      background: $red;
    }
  }

  .right_icon {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4rem;
    background: $red;
    border-radius: 100%;
    pointer-events: none;
    border: 0.4rem solid $black;
    @media (max-width:767px) {
      width: 4rem;
      height: 4rem;
      right: -3rem;
  }
  @media (max-width:575px) {
    width: 3.5rem;
      height: 3.5rem;
      right: -2.2rem;
  
  }

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(-45deg);
    }

  }


}