@use "../../../../public/assets/_var.scss" as *;

.activities_box_card
{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
       
    
       .icon{
        background: $black;
        border-radius: 100%;
        width: 10rem;
        height: 10rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: $red;
          }
        }
       }
       .text_box
       {
        margin-top: auto;
        text-align: center;
        h2{
          font-size: 3rem;
          font-weight: 600;
          line-height: 3.6rem;
          margin-bottom: 0.5rem;
          font-family: $secondaryfont;
          text-transform: uppercase;
         }
         p{
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2rem;
         }
       }
      
      }