@use "../../../../../public/assets/_var.scss" as *;

.signup {
    width: 100%;

    .main_heading {
        margin-bottom: 4rem;
    }

    &_in {
        height: calc(100vh - 6rem);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        form {
            .field_in {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

            }

            .custom_button {
                width: 100%;
            }

            .login_para {
                font-size: 1.5rem;
                margin-top: .4rem;
                line-height: 2rem;
                font-weight: 400;
                text-align: center;

                span {
                    color: $red;
                }
            }
        }
    }

    .sign_in_check {
        margin-bottom: 2rem;
    }

    .login_para {
        font-size: 1.5rem;
        margin-top: 0.4rem;
        line-height: 2rem;
        font-weight: 400;
        text-align: center;

        a {
            color: $red;
            margin-left: 0.4rem;
        }
    }
}